<h2>注册</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, autofocus: true %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.button :submit, "注册" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>

<% content_for :head do %>
  <script>
    $(function(){
      $(".new_user").validate({
        rules: {
          "user[password]": {
            minlength: 6
          },
          "user[password_confirmation]": {
            equalTo: "#user_password",
            required: true
          }
        }
      })
    })
  </script>
<% end %>
